body {
    background: aqua;
    margin-right: 1in;
    margin-left: 1in;
    font-size: 25px;
    position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



table {
    width: 80%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

.color {
    background: rgb(2, 245, 95);
}

td:first-child {
    text-align: left;
}

.Customer {
    text-align: left;
}